.navbar {
    background-color:#8fccba;
}

.quemsomos{
    background-color: #b73717;
}

.reunioes{
    background-color: #14172c;
    color: honeydew;
}

.cafes{
    background-color: #6f9066;
}


.margin{
    padding: 30px;
}